@use '../../styles/media.scss' as *;

.card {
    position: relative;
    text-align: center;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      background: #FFF;
      width: 1px;
      height: 100%;
      position: absolute;
      right: -65px;
      top: 0;

      @include media(xl) {
        right: -29px;
      }

      @include media(lg) {
        right: -10px;
      }
    }

    @include media(lg) {
      flex: 1 1 calc(50% - 19px);


      &:nth-child(2)::after {
        display: none;
      }
    }

  
    .title {
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: -0.96px;

      @include media(lg) {
          font-size: 40px;
      }

      @include media(sm) {
          font-size: 30px;
      }
    }
  
    p {
      color:  #8896AB;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;

      @include media(lg) {
        font-size: 16px;
      }
    }
}
