@use '../../styles/media.scss' as *;

.faqItem {

  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;

  &.open {
    background: #007BFF;
  }
}
  
.questionBlock {
  color:  #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  padding: 20px;
  display: flex;
  align-items: center;
}
  
.toggleIcon {
  font-size: 30px;
  line-height: 1;
  display: block;
  margin-left: auto;
}
  
.answerBlock {
  background: #1D8AFF;
  padding: 0 30px; 
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #061C3D;
  max-height: 0; 
  opacity: 0; 
  overflow: hidden; 
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;

  @include media(sm) {
    font-size: 15px;
    line-height: 24px;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  &.open {
    max-height: 500px; 
    opacity: 1; 
    padding: 10px 30px; 
  }
}
