@use '../../styles/media.scss' as *;
.proofs {
  opacity: 0;
}

.screenshotsWrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  margin-top: 45px;

  @include media(sm) {
    grid-template-columns: 1fr;
  }
}
  
.screenshotImage {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  max-width: none;
  height: 100%;

}

.screenshotWrap {
  opacity: 0;
}


.visible {
  transform: translateY(-100%);
  animation: slideInLeft 0.5s ease forwards;
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}