@use '../../styles/media.scss' as *;

.btn {
    opacity: 0;
    display: block;
    text-align: center;
    margin-top: 40px;
    width: 305px;
    padding: 21px 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    background: #43a7f1;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1.8px 5.8px rgba(0, 0, 0, 0.0431372549), 0 3.9px 11.7px rgba(0, 0, 0, 0.0509803922), 0 6.7px 18px rgba(0, 0, 0, 0.0549019608), 0 11.5px 25.3px rgba(0, 0, 0, 0.0588235294), 0 22.6px 35.9px rgba(0, 0, 0, 0.062745098);

    @include media(lg) {
      width: 350px;
      padding: 20px 8px;
      font-size: 27px;
    }

    @include media(sm) {
      width: 294px;
      padding: 18px 8px;
      font-size: 22px;
      margin-top: 21px;
    }

    &:hover {
      background: #217cbf;
    }
  }

  .visible  {
    transform: translateX(-100%);
    animation: slideInTop 0.5s ease forwards;
  }
  
  @keyframes slideInTop {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  