@use '../../styles/media.scss' as *;

.stepItem {
    font-size: 26px;
    line-height: 30px;
    max-width: 510px;
    width: 100%;

    @include media(xl) {
        text-align: center;
        margin: auto;
    }

    @include media(md) {
        font-size: 19px;
    }
}

.right {
    margin-left: auto;
}

.center {
    text-align: center;
    margin: auto;
}