@use '../../styles/media.scss' as *;

.stepsSection {
  padding: 180px 0;
  position: relative;
  overflow: hidden;

  @include media(lg) {
    padding: 80px 0;
  }
}

.title {
  text-align: center;
}

.stepsBg {
  width: 77%;
  height: 0;
  overflow: hidden;
  margin: auto;
  display: block;
  position: absolute;
  top: 25px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 0;

  @include media(xl) {
    top: 0;
    left: -100px;
  }

  @include media(md) {
    left: -45px;
  }

  @include media(sm) {
    left: -16px;
  }

  img {
    width: 100%;
    height: 900px;

    @include media(xl) {
      height: 850px;
    }

    @include media(lg) {
      height: 1100px;
    }

    @include media(md) {
      height: 850px;
    }
  }

}
  
  
.stepsWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 50px;

    @include media(xl) {
      max-width: 800px;
      width: 100%;
      margin: 50px auto 0;
    }

    @include media(lg) {
      max-width: 500px;
    }

    @include media(md) {
      max-width: 300px;
    }
}


.stepsElements {
  border-radius: 25rem;
  background: #FF79C6;
  filter: blur(18.75rem);
  width: 400px;
  height: 400px;
  position: absolute;
  top: -150px;
  right: -100px;
  z-index: -2;

  @include media(lg) {
    display: none;
  }

}